Connected Services/SalaService/SalaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetSala">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametros" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sala_VO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_Sala" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NomSala" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoSala" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Asientos_ID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSala_VO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sala_VO" nillable="true" type="tns:Sala_VO" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSalaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSalaResult" type="tns:ArrayOfSala_VO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_Sala">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_SalaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Delete_SalaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_Sala">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sala" type="tns:Sala_VO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Insert_SalaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Insert_SalaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetSalaSoapIn">
    <wsdl:part name="parameters" element="tns:GetSala" />
  </wsdl:message>
  <wsdl:message name="GetSalaSoapOut">
    <wsdl:part name="parameters" element="tns:GetSalaResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_SalaSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_Sala" />
  </wsdl:message>
  <wsdl:message name="Delete_SalaSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_SalaResponse" />
  </wsdl:message>
  <wsdl:message name="Insert_SalaSoapIn">
    <wsdl:part name="parameters" element="tns:Insert_Sala" />
  </wsdl:message>
  <wsdl:message name="Insert_SalaSoapOut">
    <wsdl:part name="parameters" element="tns:Insert_SalaResponse" />
  </wsdl:message>
  <wsdl:portType name="SalaServiceSoap">
    <wsdl:operation name="GetSala">
      <wsdl:input message="tns:GetSalaSoapIn" />
      <wsdl:output message="tns:GetSalaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Sala">
      <wsdl:input message="tns:Delete_SalaSoapIn" />
      <wsdl:output message="tns:Delete_SalaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Insert_Sala">
      <wsdl:input message="tns:Insert_SalaSoapIn" />
      <wsdl:output message="tns:Insert_SalaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SalaServiceSoap" type="tns:SalaServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSala">
      <soap:operation soapAction="http://tempuri.org/GetSala" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Sala">
      <soap:operation soapAction="http://tempuri.org/Delete_Sala" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_Sala">
      <soap:operation soapAction="http://tempuri.org/Insert_Sala" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SalaServiceSoap12" type="tns:SalaServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSala">
      <soap12:operation soapAction="http://tempuri.org/GetSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Sala">
      <soap12:operation soapAction="http://tempuri.org/Delete_Sala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_Sala">
      <soap12:operation soapAction="http://tempuri.org/Insert_Sala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalaService">
    <wsdl:port name="SalaServiceSoap" binding="tns:SalaServiceSoap">
      <soap:address location="http://localhost:50765/WS/SalaService.asmx" />
    </wsdl:port>
    <wsdl:port name="SalaServiceSoap12" binding="tns:SalaServiceSoap12">
      <soap12:address location="http://localhost:50765/WS/SalaService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>