Connected Services/GeneroService/GeneroService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Insert_Genero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="tns:GeneroPelicula_VO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GeneroPelicula_VO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id_Genero" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre_Genero" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Insert_GeneroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Insert_GeneroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGenero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parametros" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGeneroPelicula_VO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GeneroPelicula_VO" nillable="true" type="tns:GeneroPelicula_VO" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGeneroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGeneroResult" type="tns:ArrayOfGeneroPelicula_VO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_Genero">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete_GeneroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Delete_GeneroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Insert_GeneroSoapIn">
    <wsdl:part name="parameters" element="tns:Insert_Genero" />
  </wsdl:message>
  <wsdl:message name="Insert_GeneroSoapOut">
    <wsdl:part name="parameters" element="tns:Insert_GeneroResponse" />
  </wsdl:message>
  <wsdl:message name="GetGeneroSoapIn">
    <wsdl:part name="parameters" element="tns:GetGenero" />
  </wsdl:message>
  <wsdl:message name="GetGeneroSoapOut">
    <wsdl:part name="parameters" element="tns:GetGeneroResponse" />
  </wsdl:message>
  <wsdl:message name="Delete_GeneroSoapIn">
    <wsdl:part name="parameters" element="tns:Delete_Genero" />
  </wsdl:message>
  <wsdl:message name="Delete_GeneroSoapOut">
    <wsdl:part name="parameters" element="tns:Delete_GeneroResponse" />
  </wsdl:message>
  <wsdl:portType name="GeneroServiceSoap">
    <wsdl:operation name="Insert_Genero">
      <wsdl:input message="tns:Insert_GeneroSoapIn" />
      <wsdl:output message="tns:Insert_GeneroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGenero">
      <wsdl:input message="tns:GetGeneroSoapIn" />
      <wsdl:output message="tns:GetGeneroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete_Genero">
      <wsdl:input message="tns:Delete_GeneroSoapIn" />
      <wsdl:output message="tns:Delete_GeneroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeneroServiceSoap" type="tns:GeneroServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert_Genero">
      <soap:operation soapAction="http://tempuri.org/Insert_Genero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenero">
      <soap:operation soapAction="http://tempuri.org/GetGenero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Genero">
      <soap:operation soapAction="http://tempuri.org/Delete_Genero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeneroServiceSoap12" type="tns:GeneroServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert_Genero">
      <soap12:operation soapAction="http://tempuri.org/Insert_Genero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenero">
      <soap12:operation soapAction="http://tempuri.org/GetGenero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete_Genero">
      <soap12:operation soapAction="http://tempuri.org/Delete_Genero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneroService">
    <wsdl:port name="GeneroServiceSoap" binding="tns:GeneroServiceSoap">
      <soap:address location="http://localhost:50765/WS/GeneroService.asmx" />
    </wsdl:port>
    <wsdl:port name="GeneroServiceSoap12" binding="tns:GeneroServiceSoap12">
      <soap12:address location="http://localhost:50765/WS/GeneroService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>